
#donate {
	margin-top:1px;
	margin-bottom: 1px;
}
#whatis {
	border-radius: 4px;
	background: #234BD7;
	color: #fff;
}

#donations {
	background: #234BD7;
	text-align: left;
	border-radius: 4px;
	color: #fff;
	margin-top: 20px;
}

a.button1 {
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	padding: 10px 60px;
	margin-top: 10px;
	display: inline-block;
}

a.button1:hover {
	background: rgba(255, 255, 255, 0.26);
}

div.donation-button{
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	padding: 5px 30px !important;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
}

div.donation-button:hover {
	background: rgba(255, 255, 255, 0.26);
}

h1.title {
	font-size: 2em;
	color: #FFF;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #234bd7;
    margin: auto;
    padding: 40px;
    width: 60%;
}

.modal-content p {
	color: #fff;
	margin-bottom: 5px;
}

.modal-content h1 {
	color: #fff;
	font-size: 1.2em;
}

.modal-content a {
	color: #fff;
}

/* The Close Button */
.donationClose {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.donationClose:hover,
.donationClose:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}